<section class="personal-info">
  <div class="profile">
    <div class="info">
      <div class="avatar">
        <img class="avatar-img"
          src="https://assets-lighthouse.alphacamp.co/uploads/user/photo/4210/medium_E8C0053A-4EC1-46C6-A464-15FBA080909A.jpg"
          alt="">
      </div>
      <h1 class="name">
        Crystal Gong
      </h1>
      <div class="social-media">
        <a class="social-media-link" href="tel:+886-9-52237665">
          <i class="fas fa-phone fa-lg"></i>
        </a>
        <a class="social-media-link" href="https://line.me/ti/p/rOHfQ3I18Y" target="_blank">
          <i class="fab fa-line fa-lg"></i>
        </a>
        <a class="social-media-link" href="https://crystalgong.medium.com/" target="_blank">
          <i class="fab fa-medium fa-lg"></i>
        </a>
        <a class="social-media-link" href="https://github.com/Crystal9ong" target="_blank">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a class="social-media-link" href="cyblackwing@hotmail.com">
          <i class="fas fa-envelope fa-lg"></i>
        </a>
      </div>
      <div class="title">
        UI/UX設計 | 網頁設計師 | 台北台灣
      </div>
    </div>
    <div class="introduction">
      <p class="description">
        出生於台灣高雄，個性樂觀開朗。熱衷旅遊喜愛學習，勇於接受各種可能性。曾於電商任職網頁設計師的經歷，懂網頁視覺設計兼具美學素養，喜愛學習，勇於接受各種可能性。
      </p>
    </div>
  </div>
</section>

<section class="skill-section">
  <h2>專業技能</h2>
  <div class="skills">
    <div class="skill">
      <h3 class="skill-name">程式設計</h3>
      <p class="skill-description">
        具備網頁設計的能力，能夠製作使用者介面與線框圖繪製，熟悉 HTML、CSS 和 JavaScript，並對於基礎的演算法有一定的掌握力。
      </p>
    </div>
    <div class="skill">
      <h3 class="skill-name">掌握網頁開發</h3>
      <p class="skill-description">
        於線上課程學習全端網頁開發，能夠打造兼具前後端的 Web App 產品。從網頁切版、RWD、操作 DOM 事件、使用 AJAX 與串接 API 等前端能力，到使用 Node.js 與 MongoDB
        建立後端功能，持續學習中。
      </p>
    </div>
    <div class="skill">
      <h3 class="skill-name">視覺設計</h3>
      <p class="skill-description">
        熟悉 illustrator、photoshop、dreamweaver
        可執行品牌、網站及輔銷物等視覺設計發想與落實。
      </p>
    </div>

</section>

<section class="autobiography-section">
  <h2 class="job-experience">工作經歷</h2>
  <div class="experience">
    <div class="experience-item">
      <h3 class="job-title">網頁設計師</h3>
      <span class="company"><i class="far fa-building"></i>日商青蜂股份有限公司台灣分公司</span>
      <span class="duration"><i class="far fa-calendar-alt"></i>2020 年 9 月 - 2021 年 1 月</span>
      <p>
        負責品牌經營，官方銷售頁製作、提升行銷文案撰寫與執行、異業合作執行、社群媒體經營與視覺輔銷物製作等。任職期間報名線上課程全端程式開發學習程式語言與 UI design，參與銷售業面設計與優化。
      </p>
    </div>
    <hr>
    <div class="experience-item">
      <h3 class="job-title">網頁設計師</h3>
      <span class="company"><i class="far fa-building"></i>邁達康網路事業股份有限公司</span>
      <span class="duration"><i class="far fa-calendar-alt"></i>2015 年 4 月 - 2019 年 5 月</span>
      <p>
        執行網站及輔銷物等視覺設計 ( 媒體廣告 / 社群 / EDM等素材製作與宣傳 )，商品上與攝影與社群媒體經營。熟悉高球產業各品牌屬性及營運，任職期間自學 CSS
        協助公司完成官網改版，及參與自家品牌各季度球具與商品開發專案，協助籌備每年國際高球賽事。
      </p>
    </div>
    <hr>
    <div class="experience-item">
      <h3 class="job-title">視覺設計師</h3>
      <span class="company"><i class="far fa-building"></i>京城天下旅行社有限公司</span>
      <span class="duration"><i class="far fa-calendar-alt"></i>2012 年 10 月 - 2013 年 3 月</span>
      <p>
        主要工作內容為旅行行程策畫、DM廣告設計，執行網站及輔銷物等視覺設計。
      </p>
    </div>
  </div>
</section>
<section class="autobiography-section">
  <h2 class="autobiography-title">自傳</h2>
  <div class="autobiography">
    <p>
      【關於我】<br />
      出生於台灣高雄，個性樂觀開朗。熱衷學習，勇於接受各種可能性。<br /><br />

      【海外英語學習與打工度假】<br />
      走出舒適圈嘗試自己的各種可能性，過程中不斷突破自己的界限，半工半讀自學英語與相關咖啡知識，挑戰自己於墨爾本的咖啡廳擔任 All rounder。<br /><br />

      【日商電商擔任網頁設計師】<br />
      負責品牌經營，官方銷售頁製作、提升行銷文案撰寫與執行、異業合作執行、社群媒體經營與視覺輔銷物製作等。任職期間報名線上課程全端程式開發學習程式語言與 UI design，參與銷售業面設計與優化。<br /><br />

      【高球產業擔任網頁設計師】<br />
      熟悉高球產業各品牌屬性及營運，任職期間自學 CSS 協助公司完成官網改版，及參與自家品牌各季度球具與商品開發專案，協助籌備每年國際高球賽事。<br /><br />

      【電信單位擔任電話客戶服務專員】<br />
      不僅從中學習到基本的應對能力外，更從中培養反應能力及處理事件冷靜的態度。<br /><br />

      【求學期間】<br />
      ● 校刊社 | 總編輯 | 首創創意封面提案獲得好評<br />
      執行專訪及排版設計，從中得到自信與成就感。<br /><br />

      ● 美食部落格 | 部落客 | 自習社群媒體經營管理<br />
      撰寫部落格除了是興趣，也磨練文筆及敏銳的觀察市場需求的能力。<br /><br />

      【挑戰自我，學習新技能】<br />
      雖然非資工科科系，但相信未來職涯有更多挑戰，需要透過不斷學習與經驗累積，目前著重在線上課程學習全端網頁開發，樂於學習，也保持學習動力，期許自己成為具有選擇技術能力、工具掌握度高的開發人員。<br /><br />

      做任何事情總是很勤奮是我的優點，而有點完美主義性格是我的缺點，時常為了自己的興趣而去學習新技能，仍有許多不同領域的知識可以挖掘，也很期待能夠一直學習下去。
    </p>
  </div>
  <hr>
  <div class="autobiography">
    <p>
      【About Me】<br />
      Hi, This is Crystal Gong, graduated with Bachelor's degree in Department of Information and Communication, been
      brought up in a happy and warm family, having worked for four years as a web designer.<br /><br />

      【School Life】<br />
      Have been told as a elegant girl, love music, learnt piano since my age of 5, I was selected by Chong Cheng
      Primary School’s Orchestra, minor in flute, in junior high I have less time for my own interest, merely
      concentrate on my
      studies. However, my passion towards music is still firm, so I joined Orchestra club as well as growing interests
      on Art as well. I joined Music, Art and Speech competition to explore wider range of my social life and
      hobbies.<br /><br />

      In my high school had been elected as a general editor, doing editorial, special column journalism, art editorial
      and publisher’s skills and knowledge. Also joined few University’s News editorial camps with all those
      accumulation of
      experience on editorial design I’ve decided to take Department of Information and Communication degree on my
      University life.<br /><br />

      【Work experience】<br />
      I used to work in the golf industry of Mei Da Kang for four years as a web designer and been charged the visual
      design and the social media promotion. And during that period of time, I implemented a new user interface project
      with my
      team members, and it was effective to maximize our profits.<br /><br />

      After that, I went to Australia working holiday for one year, step outside my comfort zone, to explore more
      possibility of my life. I met many people come from different countries and it expand my horizons, becoming more
      independent
      and a cheerful person.<br /><br />

      By chance, I joined in a Japanese firm, engage in E-commerce as a web designer, including brand management, single
      selling page making, copy-writing of marketing, also do the cooperation with different industry etc. Moreover, I
      also like to learning, such as registered the online course about web development and UI design. I would like to
      expend
      my skill to be a worthy person in my career.<br /><br />
      【Career Planning】<br />
      With all the experience that I’ve accumulate from web design and my previous work experience, I am confident to
      use all my skills and knowledge with my future possible career, I’m open to all field and willing to learn, and
      explore
      further of this world.I hope that I can find a suitable job and contribute my talents to the team. I also hope
      that I can
      learn new knowledge and grow together with the company team in my new job. Currently in the stage of actively
      looking
      for work. Thank you for reading my autobiography. I hope to have the opportunity to meet with you.
    </p>
  </div>
</section>